@font-face {
	font-family: 'Galano-Grotesque-Web';
	src: url('Galano-Grotesque-Bold.otf');
	font-weight: bold;
} 
  
@font-face {
	font-family: 'Galano-Grotesque-Web';
	src: url('Galano-Grotesque-Medium.otf');
	font-weight: 500;
} 

@font-face {
	font-family: 'Galano-Grotesque-Web';
	src: url('Galano-Grotesque-Medium-Italic.otf');
	font-weight: 500;
	font-style: italic;
} 