@font-face{font-family:Galano;font-weight:500;font-style:normal;src:url("../fonts/Galano-Grotesque-Medium.otf") format("opentype")}
@font-face{font-family:Galano;font-weight:500;font-style:italic;src:url("../fonts/Galano-Grotesque-Medium-Italic.otf") format("opentype")}
@font-face{font-family:Galano;font-weight:700;font-style:normal;src:url("../fonts/Galano-Grotesque-Bold.otf") format("opentype")}

html,body {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    color: #fff;
    font-family: Galano, sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    background: #7e43ff;
    font-size: 18px;
}
#main {
    padding: 10px;
    max-width: 60em;
    margin:auto;
}
a {
    color: #ff0!important;
}
header {
    text-align: center;
    margin: 50px;
}
header h1 {
    font-size: 3em;
    margin-bottom: 20px;
    line-height: 0.9em;
}
header h2 {
    margin-top: 1px;
    font-size: 1.8em;
    line-height: 1.1em;
}
h1, h2, h3 {
    font-weight: 500;
    color: #ff0!important;
}
h2 {
    margin-top:40px;
}
h3 {
    font-weight: normal;
}
.footer {
    padding: 30px 15px;
}
.footer p {
    color: #b596f9;
    font-size: 16px;
}
